@import "../../css/mixinsandfunctions.scss";
.scrollToTop__button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 1500;
    cursor: pointer;
    padding: 1rem;
    line-height: 50px;
    height: 50px;
    width: 50px;
    background: rgba(var(--textColorRGB), 0.3);
    background-color: #408a8b;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(desktop) {
        // margin: 0px 200px;
    @include media(large-desktop) {
  margin: 0px 200px
}
  }
}
  
  .scrollToTop__button:after {
  //   content: "\f106";
    content: "\f077";
    font-weight: 900;
    font-family: "fontawesome";
    font-size: 2rem;
    
  //   color: #131f53;
    vertical-align: top;
    color: var(--bg);
    // color: #408a8b;
    color:white;
  }