@import "../../css/mixinsandfunctions.scss";

.blog-container{
    display: grid;
    justify-items: center;
    margin-top:10rem;
    // row-gap:27px;
    @include media(tablet){
        margin-top:auto;
        // row-gap:40px;
    }
}
.blog-container > div > h1{

    color:black;
    font-size: 2rem;
}

.blog-data-img{
    width: 400px;
    display: flex;
    justify-content: center;
}