@import "../../css/mixinsandfunctions.scss";
.main-blog-container{
grid-template-columns: 1fr;
display: grid;
margin-top:10rem;
gap:40px;
@include media(tablet){
grid-template-columns: repeat(2,1fr);
gap:20px;
margin-top: auto;


@include media(desktop){
    grid-template-columns: repeat(3,1fr);
}
}

}
.blog-container{
    display: grid;
    justify-items: center;
    border: 4px solid #c1e4f1;
    height: 500px;
    padding: 10px;
    align-items: center;
    grid-template-areas: "title"
                        "image"
                        "text";
                    
                        
    grid-template-rows: 70px auto auto;
    // row-gap:40px;

    // grid-template-columns: repeat(4,1fr);
    // row-gap:27px;
    @include media(tablet){
        margin-top:auto;
    }
}
.main-blog-container > div > h1{

    color:black;
    font-size: 1.6rem;
    // height:2 rem;
}

.blog-data-img{
    // display: flex;
    object-fit: cover;
    justify-content: center;
    width:100%;
    height:255px;
    @include media(tablet){
    // width: 630px;
    // width:auto;
    //  height:315px;

}
}