@import "../../css/mixinsandfunctions.scss";

#full-carousel-container>div{
    display:flex
}
.full-carousel-container >div > .bigcarousel  {
    object-fit: cover;
    // height:700px
}
#full-carousel > img{
    object-fit: cover;
    height:487px;
    // height:300px;
    @include media(tablet) {
    height:600px
}}
// #root > main > div.full-carousel-container > div
// // .full-carousel-container{
// //     height: 1000px;
// // }

// #root > main > div.full-carousel-container > div >img{
    #root > main > div.full-carousel-container > div >img{
    height:300px;
    @include media(tablet) {
        height:600px
}
}
.main-contact-container{
    display: grid;
    grid-template-rows: 90px auto auto;
    @include media(tablet) {
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
}
}
.full-carousel-container{
    overflow: hidden;
    height:300px;
    @include media(tablet) {
    height:600px;
}
}

#root > .main-contact-container > div.full-carousel-container > div{
    display: grid;
    align-items: start;
}

.banner-container{
    height:235px;
}