@import "../../css/mixinsandfunctions.scss";

#full-carousel-container>div{
    display:flex
}
.full-carousel-container >div > .bigcarousel  {
    object-fit: cover;
    height:700px
}
#full-carousel > img{
    object-fit: cover;
    height:500px
}
// #root > main > div.full-carousel-container > div
// // .full-carousel-container{
// //     height: 1000px;
// // }