@import "../../css/mixinsandfunctions.scss";

#full-carousel-container>div{
    display:flex
}
.full-carousel-container >div > .bigcarousel  {
    object-fit: cover;
    // height:700px
}
#full-carousel > img{
    object-fit: cover;
    height:487px;
    // height:300px;
    @include media(tablet) {
    height:600px
}}
// #root > main > div.full-carousel-container > div
// // .full-carousel-container{
// //     height: 1000px;
// // }

// #root > main > div.full-carousel-container > div >img{
    #root > main > div.full-carousel-container > div >img{
    height:300px;
    @include media(tablet) {
        // height:600px
}
}
// .main-contact-container{
//     display: grid;
//     grid-template-rows: 90px auto auto;
//     @include media(tablet) {
//     grid-template-rows: auto auto auto;
//     align-items: center;
//     justify-content: center;
// }
// }
.full-carousel-container{
    overflow: hidden;
    height:300px;
    width:100%;
    grid-area: carousel-container;
    // @include media(tablet) {
      @media (min-width: 450px){
    // height:600px;
    width:400px;
}
}

#root > .main-contact-container > div.full-carousel-container > div{
    display: grid;
    align-items: start;
}

.banner-container{
    // height:235px;
    grid-area: banner-container;
}





.main-contact-container {
    display: grid;
    // grid-template-rows: repeat(5, auto);
    // grid-template-rows: 125px auto auto auto auto;
    grid-template-rows: auto;
  row-gap:20px;
    grid-template-columns: 1fr;
    grid-template-areas: 
                "contact-info"
                "carousel-container"
                "map"
                "contact-form";
                justify-items: center;
                @media (min-width: 570px){
                  // grid-template-rows: 180px auto auto auto auto;
                }
  
    @include media(tablet) {
        gap:20px;
      grid-template-rows: auto auto auto;
        // grid-template-rows: 300px auto auto auto; // Remplacez 200px par la hauteur souhaitée pour banner-container en mode tablette
      align-items: start; // Aligne les éléments au début de leur cellule de grille
      justify-content: center;
      
      grid-template-columns: auto auto;
      // grid-template-areas: "banner-container banner-container"
      grid-template-areas: "contact-title contact-title"
                           "contact-info carousel-container"
                           "map contact-form";

    }
  }
  
  .banner-container {
    height: 90px;
  
    @include media(tablet) {
      height: 400px; // Remplacez 200px par la hauteur souhaitée pour banner-container en mode tablette
    }
  }
  
  .contact-info {
    grid-area: contact-info;
    padding:10px;
    @include media(tablet) {
      height: auto; // Permet à contact-info de prendre la hauteur de son contenu
      padding: 10px
    }
  }

  #root > main > div.contact-info > p{
    padding: 5px 0px;
  }
  .map-big-container{
    grid-area: map;
    // height:430px;
  }

  form{
    grid-area: contact-form;
    height:450px;
  }

  .tarifs-title{
    padding-top:20px;
    border-top: 2px solid gray;
  }


  #root> .main-contact-container > div.contact-info > p:nth-child(5){
    padding-bottom: 20px;
  }

  .contact-title{
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 20px;
    grid-area: contact-title;
  }