@import "../../css/mixinsandfunctions.scss";

.sub-title{
    padding-top:200px;
}

img{
    width: 100%;
    // height: 100%;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;

    // background-origin: content-box;
    // background-attachment: fixed;
    @include media(tablet) {
        // width: 1240px;
    // background-attachment: fixed;
    // background-size: contain;
    background-image: url("/images/accueil1.webp");
    background-repeat: no-repeat;
    // background-size: contain;
    background-size: cover;
    background-position: center top;

  
    }
}
// 
