.testimonialcarousel {
    display: flex;
    
    overflow: hidden;
    position: relative;
    width: 700px;
    align-items: center;
  }
  .testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonial-author{ 
    font-size: 1.1rem;
    font-weight: 700;
    color: #333;
    // margin-bottom: 1rem;
  
  }
  
//   @keyframes slide {
//     0% {
//       transform: translateX(-100%);
//       opacity: 0;
//     }
//     20%, 80% {
//       transform: translateX(0);
//       opacity: 1;
//     }
//     100% {
//       transform: translateX(100%);
//       opacity: 0;
//     }
//   }
  
//   .carousel__slide {
//     min-width: 100%;
//     position: absolute;
//     left: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     animation: slide 5s linear infinite;
//   }







//   @keyframes slide {
//     0% {
//       transform: translateX(-100%);
//       opacity: 0;
//     }
//     20%, 80% {
//       transform: translateX(0);
//       opacity: 1;
//     }
//     100% {
//       transform: translateX(100%);
//       opacity: 0;
//     }
//   }
  
//   .carousel__slide {
//     min-width: 100%;
//     position: absolute;
//     left: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     animation: slide 15s linear infinite; // Increase the duration to 15s
//   }






// 
  
  .carousel__slide {
    min-width: 100%;
    position: absolute;
    left: 0;
    display: none; // Hide all slides by default
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .carousel__slide--active {
    display: flex; // Only show the active slide
  }