.map-container-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  
  .map-container {
    height: 400px;
    width: 600px;
  
    @media (max-width: 600px) {
      height: 300px;
      width: 100%;
    }
  }