.map-container-parent {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 420px;
    grid-area: map;
    width:100%;
  }
  
  .map-container {
    height: 400px;
     width:400px;
  
    // @media (max-width: 600px) {
    //   // height: 300px;
    //   width: 100%;
    // }
  }

  .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }



  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    // font-size: 22px;
    user-select: none;
    display: flex;
    align-items: center;
    margin-bottom:10px;
  }
  
  .hidden-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkbox-style {
    position: absolute;
    top: 10;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .checkbox-container:hover .checkbox-style {
    background-color: #ccc;
  }
  
  .checkbox-container .hidden-checkbox:checked ~ .checkbox-style {
    background-color: #2196F3;
  }
  
  .checkbox-style:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-container .hidden-checkbox:checked ~ .checkbox-style:after {
    display: block;
  }
  
  .checkbox-container .checkbox-style:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

//   @media (max-width: 600px) {
//     ._map-container_1tnur_1 {
//          width: 400px !important; 
//     }
// }

// @media (max-width: 600px) {
//   ._map-container_1tnur_1 {
//       width: 90%; 
//   }
// }


// @media (max-width: 600px) {
//   .parent-class ._map-container_1tnur_1 {
//       width: 100% !important; 
//   }
// }

._map-container_s3lcg_1 {
  height: 400px;
  width: 400px;
}