@import "../../css/mixinsandfunctions.scss";

.circular--landscape-1{
  width: 350px;
  height: 350px;
  background: url("/public/images/accueil1-mobile.webp");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;

      @include media(tablet) {
  display: none;
}
}

.circular--landscape-2{
      width: 350px;
height: 350px;
background: url("/public/images/accueil2.webp");
// background: black;

background-position: 50% 50%;
background-size: cover;
border-radius: 50%;

  @include media(tablet) {
display: none;
}
}

.circular--landscape-3{
width: 350px;
height: 350px;
background: url("/public/images/accueil3.webp");
// background: green;
background-position: 50% 50%;
background-size: cover;
border-radius: 50%;
@include media(tablet) {
  display: none;
}
}

  .leftBtn {
    position: absolute;
    // top: 40%;
    bottom:20% ;
    left: 20px;
  }
  
  .rightBtn {
    position: absolute;
    // top: 40%;
    bottom: 20%;
    right: 20px;
  }

.big-carousel{
  display: none;

  @include media(tablet) {
    display: flex;
    }

  }
  .big-carousel >img{
    height:600px;
    width:100%;
  }