@import "../../css/mixinsandfunctions.scss";

  .leftBtn {
    position: absolute;
    // top: 40%;
    bottom:20% ;
    left: 20px;
  }
  
  .rightBtn {
    position: absolute;
    // top: 40%;
    bottom: 20%;
    right: 20px;
  }

// .carousel-home-container{
//   // display: none;
//   height: 172px;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//     align-items: center;
//   // height:500px;

//   @include media(tablet) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     }

//   }
  .big-carousel >img{
    height:487px;
    width:100%;
    object-fit: cover;
  }

  .carousel {
    position: relative;
    // height:600px;
    width: 100%;
    // display: flex;
    // align-items: center;
  }
  
  .carousel-item {
    position: absolute;
    width: 100%;
    
    // visibility: hidden;
    opacity: 0;
    // transition: visibility 0s, opacity 0.5s linear;
    transition: opacity 1s ease-in-out;
  }
  
  .carousel-item.show {
    // visibility: visible;
    opacity: 1;
    width: 100%;
  }

