@import "./mixinsandfunctions.scss";


* {
    @include reset;
  }
  * {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
  }
  body{
    background-color: #ffffd3;
  }
  
  //paragraphe intro

  

  
  #root {
    display: grid;
    grid-template-areas: " header " "main " "footer ";
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    text-align: justify;
    margin: 0;
    @include media(desktop) {
      // body {
      grid-template-areas:
        " . header ."
        "  . main .  "
        "footer footer footer ";
      grid-template-columns: auto 1240px auto;

      padding: 0;
    }
  }
  
  #root > header {
    grid-area: header;
  }
  #root > main {
    grid-area: main;
    padding:20px 2px;
    display: grid;
    height: auto;
  }
  
  #root > footer {
    grid-area: footer;
  }