@import "../../css/mixinsandfunctions.scss";

.prestations-container{
    display: grid;
    justify-items: center;
  
           margin:0px;         
    @include media(desktop){
        margin: 0px 200px;                 
        @include media(large-desktop){ 
            margin: 0px 400px;         
                        
        }
       
        //  margin-top: 0px ;
      
                                      }
    }
.prestations-img-container{
    width:128px;
    height: 128px;
    @include media(desktop){
    width: 256px;
    width: 256px;
}
}
.prestations-title{
    font-size: 2rem;
    // margin-right: auto;
}

.prestations-subtitle{
    font-size: 1rem;
    color: grey;
}